.App{
    background: #eee;
    color: #666666;

    .content{
        width: 70vw;
        min-height: 80vh;
        // background: white;
        margin:5vh auto;
        // padding: 1rem;
        box-sizing: border-box;
    }
}
