@import './variables.scss';

.comment-item{

    padding: 0.5rem 0;
    border-bottom: 1px solid $divider_color;

    .header{
        display: flex;
        align-items: center;

        .avatar{
            width: 10%;
            text-align: center;
            img{
                width: 4rem;
                height: 4rem;
                border-radius: 2rem;
            }
        }
        .info{
            p{
                &:last-child{
                    font-size: 0.8rem;
                    color: #aba8a8;
                }
            }
        }
    }

    .body{
        margin-left: 10%;
    }

    .action{
        text-align: right;
        margin-top: 0.5rem;
        font-size: 0.8rem;

        span{
            &:hover{
                color: $theme_color;
                cursor: pointer;
            }
        }
    }


    .reply-comments{
        background:#fbfbfb;
        padding: 0.5rem;
        border: 1px solid #E4E4E4;
        margin-left: 10%;

        img{
            width: 3rem !important;
            height: 3rem !important;
            border-radius: 1.5rem !important;
        }

        .reply_nickname{
            color: $theme_color;
        }

        .comment-item{
            border-bottom: 1px solid #E4E4E4;

            &:last-child{
                border: none;
            }
        }
    }
}